@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
  width: 100%;
  height: 100%;
  margin: 0;
  background: #212121;
  color: #FFF;
  font-family: "Roboto";
}

.justifier{
  position: absolute;
  top: 40%;
  width: 100%;
}

.content{
  width: 801px;
  margin: 0 auto;
  position: relative;
}

.left, .right{
  display: table-cell;
  width: 400px;
  height: 150px;
  vertical-align: middle;
}

.left{
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  padding-right: 30px;
  text-align: right;
}

.right{
  padding-left: 30px;
}

.instock{
  color: rgba(255, 255, 255, 0.6);
}

.available{
  font-size: 3em;
}
